<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>update</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <h1>Updating Question</h1>

    <form action="{% url 'update' question.id %}" method="post">

        {% csrf_token %}
        <p>제목: <input type="text" name="title" value="{{question.title}}"></p>
        본문 : <textarea name="content" cols="30" rows="10"> {{question.content}}</textarea>
        <button type="submit">제출</button>
        
    </form>
    {% endblock %}
</body>
</html>